# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
*.egg-info/

# Django
db.sqlite3
*.log
media/
staticfiles/

# Environment variables
.env

# Django settings (contains secrets)
storefront/settings.py

# VS Code
.vscode/
